<ul *ngIf="simple" [class]="simpleUlClass">
    <li [attr.title]="showTitle ? locale.prev_page : null" (click)="_prev()" [ngClass]="_prevClass">
        <a></a>
    </li>
    <li [attr.title]="simpleShowTitle" [class]="simpleMiddleClass">
        <input type="text" size="3" [(ngModel)]="_current" (keyup.enter)="update()" (blur)="update()">
        <!--<input type="text" class="form-control"  [(ngModel)]="current">-->
        <span [class]="simpleSlashClass">／</span> {{allPages}}
    </li>
    <li [attr.title]="showTitle ? locale.next_page : null" (click)="_next()" [ngClass]="_nextClass">
        <a></a>
    </li>
</ul>

<ul *ngIf="!simple" [ngClass]="currClasses" [ngStyle]="style" unselectable="unselectable">
    <span *ngIf="showTotalText!=''" [ngClass]="showTotalClass">
          {{showTotalText}}
        </span>
    <li [attr.title]="showTitle ? locale.prev_page : null" (click)="_prev()" [ngClass]="_prevClass">
        <a></a>
    </li>


    <li *ngFor="let page of pagerList" [attr.title]="page.showTitle ? page.page : null" [class]="page.className" (click)="_handleChange(page.key)">
        <a>{{page.page}}</a>
    </li>
    <li [attr.title]="showTitle ? locale.next_page : null" (click)="_next()" [ngClass]="_nextClass">
        <a></a>
    </li>
    <div *ngIf="pageSizeData.length>0" class="ant-pagination-options">
        <acSelect className="ant-pagination-options-size-changer"   placeholder="请选择" [size]="size" [value]="_pageSize" (valueChange)="_pageSizeChange($event)">
            <acOption *ngFor="let item of pageSizeData" [value]="item" [label]="item+' / page'"></acOption>
        </acSelect>
        <div *ngIf="showQuickJumper" class="ant-pagination-options-quick-jumper">
            Goto
            <input [(ngModel)]="_current" (keyup.enter)="update()" (blur)="update()" >
        </div>

    </div>
    <!--
        <Options
          locale={props.locale}
          rootPrefixCls={prefixCls}
          selectComponentClass={props.selectComponentClass}
          selectPrefixCls={props.selectPrefixCls}
          changeSize={this.props.showSizeChanger ? this._changePageSize.bind(this) : null}
          current={this.state.current}
          pageSize={this.state.pageSize}
          pageSizeOptions={this.props.pageSizeOptions}
          quickGo={this.props.showQuickJumper ? this._handleChange.bind(this) : null}
        />-->
</ul>