<strong>基本用法</strong><br>
<acSelect size="small" [(value)]="Value" placeholder="请输入">
    <acOption value="http" label="http:"></acOption>
    <acOption value="https" label="https:"></acOption>
</acSelect>
<acSelect [(value)]="Value">
    <acOption value="http" label="http:"></acOption>
    <acOption value="https" label="https:"></acOption>
</acSelect>
<acSelect size="large" [(value)]="Value">
    <acOption value="http" label="http:"></acOption>
    <acOption value="https" label="https:"></acOption>
</acSelect>
<div style="margin-top:10px"></div>
<strong>禁用|禁用部分选项</strong><br>

<acSelect [(value)]="Value" disabled>
    <acOption value="http" label="http:"></acOption>
    <acOption value="https" label="https:"></acOption>
</acSelect>

<acSelect [(value)]="Value" >
    <acOption value="http" label="http:"></acOption>
    <acOption value="https" disabled label="https:"></acOption>
</acSelect>

<div style="margin-top:10px"></div>
<strong>带搜索框</strong><br>
<acSelect [(value)]="Value2" placeholder="请输入" width="100" showSearch [data]="[{value:'Jack',label:'Jack'},{value:'Lucy',label:'Lucy',disabled:true},{value:'Tom',label:'Tom'}]">
</acSelect>



<div style="margin-top:50px"></div>
<acTable size="small" [data]="data" rowKey="id" [pagination]='false' header="acInput">
    <acTable-column [width]='200' heading="参数" key="param"></acTable-column>
    <acTable-column [width]='200' heading="说明" key="description"></acTable-column>
    <acTable-column [width]='200' heading="类型" key="type"></acTable-column>
    <acTable-column [width]='200' heading="默认值" key="dValue"></acTable-column>
</acTable>
<div style="margin-top:10px"></div>
<acTable size="small" [data]="data2" rowKey="id" [pagination]='false' header="acTextArea">
    <acTable-column [width]='200' heading="参数" key="param"></acTable-column>
    <acTable-column [width]='200' heading="说明" key="description"></acTable-column>
    <acTable-column [width]='200' heading="类型" key="type"></acTable-column>
    <acTable-column [width]='200' heading="默认值" key="dValue"></acTable-column>
</acTable>