<!--create time:Tue Jun 13 2017 13:39:00 GMT+0800 (中国标准时间) -->
<button type="button" nglButton="neutral" (click)="hideName = !hideName" class="slds-m-bottom--large">Toggle "Name" column</button>
<button type="button" nglButton="neutral" (click)="loading = !loading" class="slds-m-bottom--large">Toggle Loading</button>
<button type="button" nglButton="neutral" (click)="toggleData()" class="slds-m-bottom--large">Clear/Set data</button>

<!--<acTable ngl-datatable [data]="data" trackByKey="rank" [loading]="loading" [(sort)]="sort" (sortChange)="onSort($event)"
  (onRowClick)="onRowClick($event)" class="headerRowClass">
  <acTable-column [width]="200" heading="Rank" key="rank" sortable></acTable-column>
  <acTable-column heading="Name" key="name" *ngIf="!hideName" cellClass="slds-truncate" sortable></acTable-column>
  <acTable-column heading="Surname" key="surname" cellClass="slds-truncate" sortable>
    <template columnCell let-row="row"><b>{{row.surname}}</b></template>
  </acTable-column>
  <acTable-column heading="Points" key="points">
    <template columnHead><strong>Points</strong></template>
    <template columnCell let-value><div>{{value | number}}</div></template>
  </acTable-column>


  <template nglLoadingOverlay>
    <div class="slds-box slds-box--small slds-theme--shade slds-text-align--center">Loading...</div>
  </template>

  <template nglNoRowsOverlay>No data available in table!</template>
</acTable>-->
<div >1</div>
<div style="width:650px">
<acTable ngl-datatable [scroll]="scroll" [pageSizeData]="pageSizeData" [data]="data" trackByKey="rank" [loading]="loading" [(sort)]="sort" (sortChange)="onSort($event)"
  (onRowClick)="onRowClick($event)" >
  <acTable-column fixLeft [width]='200' heading="Rank" key="rank" sortable></acTable-column>
  <acTable-column [width]='200' heading="Name" key="name" *ngIf="!hideName" cellClass="slds-truncate" sortable></acTable-column>
  <acTable-column  heading="Surname" key="surname" cellClass="slds-truncate" sortable>
    <template columnCell let-row="row"><b>{{row.surname}}</b></template>
  </acTable-column>
  <acTable-column  fixRight  heading="Points" key="points">
    <template columnHead><strong>Points</strong></template>
    <template columnCell let-value><div>{{value | number}}</div></template>
  </acTable-column>

  <!-- Loading overlay -->
  <template nglLoadingOverlay>
    <div class="slds-box slds-box--small slds-theme--shade slds-text-align--center">Loading...</div>
  </template>

  <!-- No rows overlay -->
  <template nglNoRowsOverlay>No data available in table!</template>
</acTable>




</div>


