<Message></Message>

<main>
  <h1>Hello from Angular App with Webpack</h1>
  <!--<img src="../assets/images/angular.png">-->

  <!--<i class="Iconfont Icon-money-copy"></i>-->
  <br/>
  <Icon [style]="{'font-size':'30px',color:'red'}" type="fast-backward"></Icon>
  <Icon type="loading"></Icon>
  <br/>
  <Button (onClick)="layout('error')" type="primary" style="color:red">Primary</Button>
  <Button>Default</Button>
  <Button #cs type="dashed">Dashed</Button>
  <Button type="danger">Danger</Button>
  <Button type="danger" shape="circle" htmlType="submit" size="large">Dang</Button>
  <Button type="primary" [loading]="true">loading</Button>

  <Button type="primary">loading
    <Icon type="loading"></Icon>
  </Button>
  <br/>

  <ButtonGroup>
    <Button type="primary" (onClick)="myClick($event)">
      <Icon type="left"></Icon>Go back
    </Button>
    <Button type="primary">
      <Icon type="loading"></Icon>Middle
    </Button>
    <Button>
      Go forward
      <Icon type="right"></Icon>
    </Button>
  </ButtonGroup>
  <br/>
  <Pagination [total]="100" [showTotal]="showTotal" (onChange)="onChange($event)" [defaultCurrent]="5"></Pagination>
  <Pagination [total]="100" [showTotal]="showTotal" (onChange)="onChange($event)" [simple]="true"></Pagination>

  <br/>
  <!--<Select [showSearch]="true"></Select>
  <br/>
  <Select [showSearch]="true" placeholder="asdfasdfazxc"></Select>
  <br/>-->

  <ng-template #tip>
    <div class="slds-text-title--caps"><strong>{{ placement }}</strong> placement. Initially open!</div>
    Dolor sit amet, <i>consectetur adipisicing</i> elit. Cum, quaerat?
  </ng-template>
  <a [target]="tip" placement="bottom" [open]="opened" (mouseenter)="opened = true" (mouseleave)="opened = false">hover</a>

  <acSelect placeholder="请选择" [value]="selectValue" width="220" [data]="list"  (onChange)="selectChange($event)">
     <!--<acOption  *ngFor="let item of list" [value]="item.value" [label]="item.label"></acOption>-->

  </acSelect>
  <br/>
  <acSelect placeholder="请选择" width="120" [dropdownMatchSelectWidth]="false"  (onChange)="selectChange($event)">
    <acOption value="0" label="A"></acOption>
    <acOption value="1" label="B"></acOption>
    <acOption value="2" label="C"></acOption>
  </acSelect>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <Popover trigger="click">
    <div title>title</div>
    <div show>123asdfsadflkasjdflasjflasjfdlasjf;aplacementja;sfjda;sfdjasd f</div>
    <Button content>click触发bottom</Button>
  </Popover>
  <br/>
  <Popover trigger="click" placement="top">
    <div show>123asdfsadflkasjdflasjflasjfdlasjf;aplacementja;sfjda;sfdjasd f</div>
    <div content>click触发top</div>
  </Popover>

  <Popover trigger="hover" placement="top">
    <div show>123asdfsadflkasjdflasjflasjfdlasjf;aplacementja;sfjda;sfdjasd f</div>
    <div content>hover触发top</div>
  </Popover>


  <Popover trigger="focus" placement="top">
    <div show>123asdfsadflkasjdflasjflasjfdlasjf;aplacementja;sfjda;sfdjasd f</div>
    <Button content>focus触发top</Button>
  </Popover>

  <!--<Trigger>
    <div show>测123123试</div>
    <Button content>测试</Button>
  </Trigger>-->
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <Check (checkedChange)="onChange($event)">checkBox</Check>
  <Check [(checked)]="qq">checkBox</Check>
  <Check disabled>checkBox</Check>

  <br>
  <button type="primary" (click)="layout('success')">success</button>
  <button (click)="layout('error')">error</button>
  <button (click)="layout('info')">info</button>
  <button (click)="layout('warning')">warning</button>
  <button (click)="layout('loading')">loading</button>
</main>