<div >
    <div class="ant-modal-mask" [style.display]="open?'block':'none'" ></div>
    <div class="ant-modal-wrap " role="dialog" [style.display]="open?'block':'none'" (click)="maskClose($event)">
        <div role="document" class="ant-modal" [ngStyle]="modalStyle">
            <div class="ant-modal-content"><button aria-label="Close" (click)="close()" class="ant-modal-close"><span class="ant-modal-close-x"></span></button>
                <div class="ant-modal-header">
                    <div class="ant-modal-title" [ngOut]="title"></div>
                </div>
                <div class="ant-modal-body">
                    <ng-content></ng-content>

                </div>

                <div *ngIf="!footer" class="ant-modal-footer">
                    <button type="button" class="ant-btn" (click)="cancel($event)"><span>{{cancelText}}</span></button>
                    <button (click)="ok($event)" type="button" class="ant-btn ant-btn-primary"><span>{{okText}}</span></button>
                </div>
                <div *ngIf="footer" class="ant-modal-footer" [ngOut]="footer"></div>
            </div>
            <div tabindex="0" style="width: 0px; height: 0px; overflow: hidden;">sentinel</div>
        </div>
    </div>
</div>