<template #NoData>没有数据</template>

<template #getColGroup let-columns="columns" let-showSelect="showSelect">
    <colgroup>
        <col *ngIf="showSelect&&rowSelection">
        <col *ngFor="let col of columns; trackBy:columnTrackBy" [ngStyle]="colgroupStyle(col)">
    </colgroup>
</template>

<template #HeadRowSelection>

    <th *ngIf="rowSelection" class="ant-table-selection-column">
        <span>
                <div  class="ant-table-selection">
                             <Check [checked]="Allchecked" [indeterminate]="indeterminate" (checkedChange)="headCheckedChange($event)"></Check>
                </div>
        </span>
    </th>
</template>

<template #BodyRowSelection let-d="d">
    <td *ngIf="rowSelection" class="ant-table-selection-column">
        <span>
                          <Check *ngIf="rowSelection?.type==='checkbox'" [disabled]="d.__disabled__" [(checked)]="d.__checked__" (checkedChange)="cellCheckedChange($event,d)"></Check>
                          <Radio *ngIf="rowSelection?.type==='radio'" [disabled]="d.__disabled__" [(checked)]="d.__checked__" (checkedChange)="cellCheckedChange($event,d)"></Radio>
                    </span>
    </td>
</template>

<template #tableHeader let-columns="columns" let-showSelect="showSelect">
    <thead class="ant-table-thead">
        <tr>
            <template *ngIf="showSelect" [ngTemplateOutlet]="HeadRowSelection"></template>
            <th *ngFor="let col of columns; trackBy:columnTrackBy" datatatable-head [heading]="col.heading" [headingTpl]="col.headingTpl?.templateRef"
                [sortable]="col.sortable" [sortOrder]="getColumnSortOrder(col)" (onSort)="onColumnSort(col, $event)" class="{{col.key==sort.key?'ant-table-column-sort':''}}"
                [ngClass]="col.headClass"></th>
        </tr>
    </thead>
</template>

<template #tableHeader2 let-columns="columns" let-fixed="fixed" let-showSelect="showSelect">
    <div class="ant-table-header" [ngStyle]="!fixed?scrollbarWidthStyle:{}" #scrollHeaderTpl >
        <table class="{{scroll?.x?'ant-table-fixed':''}}" [ngStyle]="!fixed?fixedStyle:{}">
            <template [ngTemplateOutlet]="getColGroup" [ngOutletContext]="{ columns: columns,showSelect:showSelect }"></template>
            <thead class="ant-table-thead">
                <tr>
                    <template *ngIf="showSelect" [ngTemplateOutlet]="HeadRowSelection"></template>
                    <th *ngFor="let col of columns; trackBy:columnTrackBy" datatatable-head [heading]="col.heading" [headingTpl]="col.headingTpl?.templateRef"
                        [sortable]="col.sortable" [sortOrder]="getColumnSortOrder(col)" (onSort)="onColumnSort(col, $event)"
                        class="{{col.key==sort.key?'ant-table-column-sort':''}}" [ngClass]="col.headClass"></th>
                </tr>
            </thead>

        </table>
    </div>
</template>

<template #tableBody let-columns="columns" let-showSelect="showSelect">
    <tbody class="ant-table-tbody">
        <tr *ngIf="!hasRows">
            <td [attr.colspan]="columns.length">
                <template [ngTemplateOutlet]="noRowsOverlay?.templateRef||NoData"></template>
            </td>
        </tr>
        <template ngIf="hasRows">
            <tr *ngFor="let d of _data; let i = index; trackBy:dataTrackBy" (click)="rowClick($event, d)" (mouseenter)="hover(true,i)"
                (mouseleave)="hover(false,i)" class="ant-table-row{{hoverKey===i?' ant-table-row-hover':''}}">
                <template *ngIf="showSelect" [ngTemplateOutlet]="BodyRowSelection" [ngOutletContext]="{ d: d }"></template>

                <td *ngFor="let col of columns; trackBy:columnTrackBy" [ngClass]="col.cellClass" table-cell [row]="d" [column]="col" [index]="i"></td>
            </tr>
        </template>
    </tbody>
</template>
<template #tableBody2 let-columns="columns" let-fixed="fixed" let-showSelect="showSelect">
    <div class="ant-table-body" [ngStyle]="!fixed?bodyStyle:{}" #scrollTpl  (mouseenter)="select($event)">
        <table class="{{scroll?.x?'ant-table-fixed':''}}" [ngStyle]="!fixed?fixedStyle:{}">
            <template [ngTemplateOutlet]="getColGroup" [ngOutletContext]="{ columns: columns,showSelect:showSelect  }"></template>
            <tbody class="ant-table-tbody">
                <tr *ngIf="!hasRows">
                    <td [attr.colspan]="columns.length">
                        <template [ngTemplateOutlet]="noRowsOverlay?.templateRef||NoData"></template>
                    </td>
                </tr>
                <template ngIf="hasRows">
                    <tr *ngFor="let d of _data; let i = index; trackBy:dataTrackBy" (click)="rowClick($event, d)" (mouseenter)="hover(true,i)"
                        (mouseleave)="hover(false,i)" class="ant-table-row{{hoverKey===i?' ant-table-row-hover':''}}">
                        <template *ngIf="showSelect" [ngTemplateOutlet]="BodyRowSelection" [ngOutletContext]="{ d: d }"></template>

                        <td *ngFor="let col of columns; trackBy:columnTrackBy" [ngClass]="col.cellClass" table-cell [row]="d" [column]="col" [index]="i"></td>
                    </tr>
                </template>
            </tbody>
        </table>
    </div>
</template>

<template #table let-columns="columns" let-showSelect="showSelect">
    <table className={tableClassName} key="table">
        <template [ngTemplateOutlet]="getColGroup" [ngOutletContext]="{ columns: columns ,showSelect:showSelect}"></template>
        <template [ngTemplateOutlet]="tableHeader" [ngOutletContext]="{ columns: columns,showSelect:showSelect }"></template>
        <template [ngTemplateOutlet]="tableBody" [ngOutletContext]="{ columns: columns ,showSelect:showSelect}"></template>
        <div *ngIf="footer" class="ant-table-footer" [ngOut]="footer"></div>
    </table>
</template>



<template #scrollTable let-columns="columns" let-showSelect="showSelect">
    <div class="ant-table-scroll">
        <template [ngTemplateOutlet]="tableHeader2" [ngOutletContext]="{ columns: columns ,fixed:false,showSelect:showSelect}"></template>
        <template [ngTemplateOutlet]="tableBody2" [ngOutletContext]="{ columns: columns,fixed:false,showSelect:showSelect }"></template>
        <div *ngIf="footer" class="ant-table-footer" [ngOut]="footer"></div>
    </div>
</template>


<template #fixLeftTable let-columns="columns" let-showSelect="showSelect">
    <div class="ant-table-fixed-left">
        <!-- <ng-container *ngIf="scroll?.y==null">
            <template *ngIf="!scroll" [ngTemplateOutlet]="table" [ngOutletContext]="{ columns: columns,showSelect:showSelect }"></template>
        </ng-container> -->
        <ng-container >
            <div class="ant-table-header">
                <template [ngTemplateOutlet]="tableHeader2" [ngOutletContext]="{ columns: columns,fixed:true,showSelect:showSelect }"></template>
            </div>
            <div class="ant-table-body-outer" [ngStyle]="scrollbarWidthStyle">
                <div class="ant-table-body-inner" [ngStyle]="innerStyle" #LeftTpl  (mouseenter)="select($event)" (click)="select($event)">
                    <template [ngTemplateOutlet]="tableBody2" [ngOutletContext]="{ columns: columns,fixed:true ,showSelect:showSelect}"></template>
                </div>
            </div>
        </ng-container>
    </div>
</template>
<template #fixRightTable let-columns="columns" let-showSelect="showSelect">
    <div class="ant-table-fixed-right">
        <!-- <ng-container *ngIf="scroll?.y==null">
            <template *ngIf="!scroll" [ngTemplateOutlet]="table" [ngOutletContext]="{ columns: columns,showSelect:showSelect }"></template>
        </ng-container> -->
        <ng-container>
            <div class="ant-table-header">
                <template [ngTemplateOutlet]="tableHeader2" [ngOutletContext]="{ columns: columns,fixed:true,showSelect:showSelect }"></template>
            </div>
            <div class="ant-table-body-outer" [ngStyle]="scrollbarWidthStyle">
                <div class="ant-table-body-inner" [ngStyle]="innerStyle"  #RightTpl (mouseenter)="select($event)" (click)="select($event)">

                    <template [ngTemplateOutlet]="tableBody2" [ngOutletContext]="{ columns: columns,fixed:true ,showSelect:showSelect}"></template>
                </div>
            </div>
        </ng-container>
    </div>
</template>




<ng-container>
    <Spin [spin]="loading">
        <div class="ant-table-wrapper">
            <div class="ant-table {{tableSizeClass}} {{bordered||bordered===''?'ant-table-bordered':''}} {{scroll?.y?'ant-table-fixed-header':''}} ant-table-scroll-position-{{position}}">
                <div *ngIf="header" class="ant-table-title" [ngOut]="header"></div>
                <div class="ant-table-content">

                    <template *ngIf="!scroll" [ngTemplateOutlet]="table" [ngOutletContext]="{ columns: columns,showSelect:true }"></template>
                    <template *ngIf="scroll?.x||scroll?.y" [ngTemplateOutlet]="scrollTable" [ngOutletContext]="{ columns: columns,showSelect:true }"></template>

                    <template *ngIf="fixLeft.length>0" [ngTemplateOutlet]="fixLeftTable" [ngOutletContext]="{ columns: fixLeft,showSelect:true }"></template>

                    <template *ngIf="fixRight.length>0" [ngTemplateOutlet]="fixRightTable" [ngOutletContext]="{ columns: fixRight,showSelect:false }"></template>
                    <Pagination *ngIf="pagination" [size]="PaginationSize" [showQuickJumper]="showQuickJumper" className="ant-table-pagination"
                        [total]="data?.length" [showTotal]="showTotal" [pageSizeData]="pagination.pageSizeData" size="pagination.size"
                        [current]="current" [pageSize]="pageSize" (onChange)="pageChange($event)"></Pagination>
                </div>
            </div>
        </div>
    </Spin>
</ng-container>