<thead>
    <tr class="slds-text-title--caps">
        <th *ngFor="let col of columns; trackBy:columnTrackBy" ngl-internal-datatatable-head="ngl-internal-datatatable-head"
            [heading]="col.heading" [headingTpl]="col.headingTpl?.templateRef" [sortable]="col.sortable" [sortOrder]="getColumnSortOrder(col)"
            (onSort)="onColumnSort(col, $event)" [ngClass]="col.headClass"></th>
    </tr>
</thead>
<tbody>
    <tr *ngIf="!hasRows">
        <td [attr.colspan]="columns.length">
            <template [ngTemplateOutlet]="noRowsOverlay?.templateRef"></template>
        </td>
    </tr>
    <template ngIf="hasRows">
        <tr *ngFor="let d of data; let i = index; trackBy:dataTrackBy" (click)="rowClick($event, d)">
            <td *ngFor="let col of columns; trackBy:columnTrackBy" [ngClass]="col.cellClass" ngl-internal-datatatable-cell="ngl-internal-datatatable-cell"
                [row]="d" [column]="col" [index]="i"></td>
        </tr>
    </template>
</tbody>
<div class="ngl-datatable-loading slds-grid slds-grid--vertical-align-center slds-grid--align-center" *ngIf="showLoading">
    <template [ngTemplateOutlet]="loadingOverlay.templateRef"></template>
</div>