<!--create time:Tue Jun 13 2017 13:42:10 GMT+0800 (中国标准时间) -->
<div class="ant-table-wrapper">

            <div class="ant-table ant-table-large ant-table-scroll-position-left">
                <div class="ant-table-content">
                    <div class="ant-table-body">
                        <table class="">
                            <colgroup>
                                <col>
                                <col>
                                <col>
                                <col>
                            </colgroup>
                            <thead class="ant-table-thead">
                                <tr>
                                    <th class=""><span><!-- react-text: 877 -->Name<!-- /react-text --></span></th>
                                    <th class=""><span><!-- react-text: 880 -->Age<!-- /react-text --></span></th>
                                    <th class=""><span><!-- react-text: 883 -->Address<!-- /react-text --></span></th>
                                    <th class=""><span><!-- react-text: 886 -->Action<!-- /react-text --></span></th>
                                </tr>
                            </thead>
                            <tbody class="ant-table-tbody">
                                <tr class="ant-table-row  ant-table-row-level-0">
                                    <td class=""><span class="ant-table-row-indent indent-level-0" style="padding-left: 0px;"></span>
                                        <!-- react-empty: 891 --><a href="#">John Brown</a></td>
                                    <td class="">
                                        <!-- react-text: 894 -->32
                                        <!-- /react-text -->
                                    </td>
                                    <td class="">
                                        <!-- react-text: 896 -->New York No. 1 Lake Park
                                        <!-- /react-text -->
                                    </td>
                                    <td class=""><span><a href="#"><!-- react-text: 900 -->Action 一 <!-- /react-text --><!-- react-text: 901 -->John Brown<!-- /react-text --></a><span class="ant-divider"></span>
                                        <a
                                            href="#">Delete</a><span class="ant-divider"></span>
                                            <a href="#" class="ant-dropdown-link">
                                                <!-- react-text: 906 -->More actions
                                                <!-- /react-text --><i class="anticon anticon-down"></i></a>
                                            </span>
                                    </td>
                                </tr>
                                <tr class="ant-table-row  ant-table-row-level-0">
                                    <td class=""><span class="ant-table-row-indent indent-level-0" style="padding-left: 0px;"></span>
                                        <!-- react-empty: 911 --><a href="#">Jim Green</a></td>
                                    <td class="">
                                        <!-- react-text: 914 -->42
                                        <!-- /react-text -->
                                    </td>
                                    <td class="">
                                        <!-- react-text: 916 -->London No. 1 Lake Park
                                        <!-- /react-text -->
                                    </td>
                                    <td class=""><span><a href="#"><!-- react-text: 920 -->Action 一 <!-- /react-text --><!-- react-text: 921 -->Jim Green<!-- /react-text --></a><span class="ant-divider"></span>
                                        <a
                                            href="#">Delete</a><span class="ant-divider"></span>
                                            <a href="#" class="ant-dropdown-link">
                                                <!-- react-text: 926 -->More actions
                                                <!-- /react-text --><i class="anticon anticon-down"></i></a>
                                            </span>
                                    </td>
                                </tr>
                                <tr class="ant-table-row  ant-table-row-level-0">
                                    <td class=""><span class="ant-table-row-indent indent-level-0" style="padding-left: 0px;"></span>
                                        <!-- react-empty: 931 --><a href="#">Joe Black</a></td>
                                    <td class="">
                                        <!-- react-text: 934 -->32
                                        <!-- /react-text -->
                                    </td>
                                    <td class="">
                                        <!-- react-text: 936 -->Sidney No. 1 Lake Park
                                        <!-- /react-text -->
                                    </td>
                                    <td class=""><span><a href="#"><!-- react-text: 940 -->Action 一 <!-- /react-text --><!-- react-text: 941 -->Joe Black<!-- /react-text --></a><span class="ant-divider"></span>
                                        <a
                                            href="#">Delete</a><span class="ant-divider"></span>
                                            <a href="#" class="ant-dropdown-link">
                                                <!-- react-text: 946 -->More actions
                                                <!-- /react-text --><i class="anticon anticon-down"></i></a>
                                            </span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <ul class="ant-pagination ant-table-pagination" unselectable="unselectable">
                <li title="Previous Page" tabindex="0" class="ant-pagination-disabled ant-pagination-prev" aria-disabled="true"><a></a></li>
                <li title="1" class="ant-pagination-item ant-pagination-item-1 ant-pagination-item-active" tabindex="0"><a>1</a></li>
                <li title="Next Page" tabindex="0" class="ant-pagination-disabled ant-pagination-next" aria-disabled="true"><a></a></li>
                <!-- react-empty: 955 -->
            </ul>

</div>