<div [style]="style" ref="root" (blur)="onOuterBlur()" (focus)="onOuterFocus()" [class]="rootClass">
    <div ref-selection [class]="selectionClasses" #selection role="combobox" aria-autocomplete="list" aria-haspopup="true" [attr.aria-expanded]="open">
        <div [class]="selectionClass"  #topCtrlNode>
            
            <div *ngIf="placeholder"
                keydown="preventDefaultEvent()"
                [ngStyle]="placeholderStyle"
                unselectable="unselectable"
                onClick={this.onPlaceholderClick}
                [class]="placeholderClass"
            >
                {{placeholder}}
            </div>

            <div key="value" [class]="singleValueClass" [attr.title]="singleValue.title || singleValue.label" [ngStyle]="singleValueStyle">
                {{singleValue}}
            </div>
            <div *ngIf="showSearch" key="input" [class]="showSearchClass" [ngStyle]="showSearchStyle" #inputInstance>
                <input value="" [class]="showSearchInputClass" (keydown)="onkeydown()">
                <span [class]="showSearchSpanClass" #inputMirrorInstance>
                    {{inputValue}}&nbsp;
                </span>
            </div>
        <div>
                <!--{ctrlNode} 
        {allowClear ? clear : null} 
        {
            multiple || !props.showArrow ? null : (
        <span key="arrow" className={`${prefixCls}-arrow`} style={UNSELECTABLE_STYLE} {...UNSELECTABLE_ATTRIBUTE} onClick={this.onArrowClick}>
              <b />
            </span>)
            }-->
    </div>
</div>