<Trigger trigger='focusClick' (showChange)="showChange($event)">
    <div show class="ant-select-dropdown ant-select-dropdown--single ant-select-dropdown-placement-bottomLeft" style="top:0px;left:0px;position:relative;width:120px;">
        <div style="overflow: auto;">
            <ul class="ant-select-dropdown-menu ant-select-dropdown-menu-vertical  ant-select-dropdown-menu-root" role="menu">
                <ng-content></ng-content>
            </ul>
        </div>
    </div>


    <div content class="ant-select {{!open?'':'ant-select-open'}} ant-select-enabled" style="width: 120px;">
        <div class="ant-select-selection ant-select-selection--single" tabindex="0" [attr.aria-expanded]="open?'true':'false'">
            <div class="ant-select-selection__rendered">
                <div *ngIf='!value' unselectable="unselectable" class="ant-select-selection__placeholder" style="display: block; user-select: none;">{{placeholder}}</div>
                <div *ngIf='value' class="ant-select-selection-selected-value" title="{{selectLabel}}" style="display: block; opacity: 1; float: none;">{{selectLabel}}</div>
            </div>
            <span class="ant-select-arrow" unselectable="unselectable" style="user-select: none;"><b></b></span>
        </div>
    </div>

</Trigger>